/* CSS */
body {
    background-color: #000;
    font: 100% / 162% verdana, arial, helvetica, sans-serif;
}

.song-poster {
    display: block;
    width: 3em;
    height: 3em;
    margin: 1em 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1em;
    text-align: center;
}

.play {
    background-image: url('http://motherdev.rankubator.com/faq/img/icon_play.svg');
}

.pause {
    background-image: url('http://motherdev.rankubator.com/faq/img/icon_pause.svg');
}

.forward {
    background-image: url('http://motherdev.rankubator.com/faq/img/icon_forward.svg');
}

.backward {
    background-image: url('http://motherdev.rankubator.com/faq/img/icon_backward.svg');
}